@import "~bootstrap/scss/bootstrap.scss";

.input {
    border: 0;
    box-shadow: none; /* You may want to include this as bootstrap applies these styles too */
}

.todo {
  align-items: center;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 6px;
  padding: 3px 10px;
}