@import "~bootstrap/scss/bootstrap.scss";

body {
    background: rgb(238, 238, 238);
}

h1 {
    color: rgb(226, 183, 189);
}

.container {
    max-width: 600px;
}

.input {
    border: 0;
    box-shadow: none; 
}

.todo {
  align-items: center;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 6px;
  padding: 3px 10px;
}

.close {
    color: rgb(226, 183, 189);
    font-weight: 300;
   
}

.close:hover {
 color: rgb(165, 62, 76);   
}

